body{
    background-color: black;
}

#calculatrice{
    background-color: darkgrey;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 25% 56.25% 18.75%;
    grid-template-areas: 
    "e e"
    "n o"
    "c o";
    padding: 8px;
}

#ecran{
    grid-area: "e";
    background-color: blueviolet;
    min-height: 80%;
    min-width: 80%;
}

#nombres{
    grid-area: "n";
    background-color: green;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#operateur{
    grid-area: "o";
    background-color: aqua;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "/"
    "X"
    "-"
    "+";
}

#division{grid-area: "/";}
#multiplication{grid-area: "X";}
#soustraction{grid-area: "-";}
#addition{grid-area: "+";}

#commandes{
    grid-area:"c";
    background-color: chocolate;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "0 virgule AC";
}

#zero{grid-area: "0";}
#virgule{grid-area: "virgule";}
#AC{grid-area: "AC";}

footer{
    background-color: grey;
    margin-top: 10px;
}